:root {
  --primary-color: #c7ede4;
  --secondary-color: #5b5941;
  --accent-color: #cc978e;
  --background-color: #e4e9ec;
  --text-color: #364c25;
}

.container {
  text-align: center;
  background-color: var(--background-color);
  color: black;
  padding: 0px 2px 2px 2px;
  min-height: 100vh; 
}


.home-page {
  flex-grow: 1;
  background-image: url("/home-page-stock.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.recipe-search {
  margin: 20px;
}

.recipe-search input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: white; 
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  max-width: 100%;
  border-radius: 8px;
}

.alert {
  background-color: var(--accent-color);
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.profile-page-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/profile-page-stock.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 20px; 
}

.profile-form-label {
  text-align: center;
  font-size: 14px; 
  color: var(--text-color);
  margin-bottom: 5px;
}

.profile-form-input {
  width: 100%;
  max-width: 200px; 
  margin-bottom: 1em;
}

.profile-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; 
  padding: 20px; 
}
.hero-banner {
  text-align: center;
  color: black;
  padding: 50px 20px;
  margin-bottom: 20px;
}

.hero-content {
  max-width: 800px;
  margin: 5.5em auto;
}

.hero-content h1 {
  font-size: 3em;
  margin: 0;
}

.hero-content p {
  font-size: 1.5em;
  margin: 10px 0 20px 0;
}

.hero-button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.hero-button:hover {
  background-color: var(--secondary-color);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
}
.deleteBtn {
  margin-top: 2em;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}